body{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.container{
    margin: 50px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    transition: 1s linear all;

}

    
.calculator{
    padding: 10px 15px 15px 15px;
    background-color: rgba(0, 0, 0, 0.568);
    display: grid;
    grid-template-columns: repeat(4,1.5fr);
    gap: 10px;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.363);
}


/*     input design    */

.out{
    grid-column: span 4;
    padding: 5px;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: .1px solid rgba(0, 0, 0, 0.247);
    font-size: 1rem;
    text-align: right;
    color: #ffffff86;
    border-radius: 5px;
}
.value{
    width: 200px;
    grid-column: span 4;
    background-color: rgba(59, 77, 31, 0.274);
    color: aliceblue;
    height: 50px;
    border-radius: 20px;
    outline: none;
    border: none;
    padding: 10px;
    font-size: 1.4rem;
    text-align: right;
    margin: 0px 0px 10px 0px;
}

/* All buttons design  */
button{
    font-size: 1.2rem;
    height: 50px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.432);
    color: aliceblue;
    border: none;
    outline: none;
    transition: all .2s ease;
    box-shadow: 1px 1px 6px black;
}
button:hover{  /* all button hover effect*/
    transform: scale(.95);
    background-color: rgba(0, 0, 0, 0.767);
    box-shadow: inset;
}
/*  Equal button   */
.equal{
    grid-column: span 2;
    background-color: orangered;
}
.equal:hover{
    background-color: rgba(255, 68, 0, 0.726);
}

/*    clear , backspace operator button color    */
.op , .back , .clear{
    color: orange;
}